@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-theme: theme(textColor.black);
  --background-start-theme: theme(colors.white);
  --background-end-theme: theme(colors.neutral.50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-theme: theme(textColor.white);
    --background-start-theme: theme(colors.neutral.950);
    --background-end-theme: theme(colors.neutral.950);
  }
}

body {
  color: var(--foreground-theme);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-theme)
    )
    var(--background-start-theme);
}
